// Variables

//Fonts
$font-default: Helvetica, Arial, sans-serif;
// Font
$font-main: "Roboto", sans-serif;
$font-icon: 'Material Icons', 'Roboto', sans-serif;


// Colors
$color-primary: #00509e;
$color-primary-light: #1e90ff;
$color-primary-dark: #004187;
$color-accent: #4db6ac;

$color-header: rgba(20, 29, 37, 0.3);
$color-faded-white: rgba(256, 256, 256, 0.3);
$color-background-gray: #f2f2f2;

$color-primary-text: #333;
$color-secondary-text: white;

// Sizes
$size-tiny: 0.25rem;
$size-small: 0.5rem;
$size-medium: 1rem;
$size-large: 2rem;
$size-huge: 3rem;
$size-HUGE: 4.5rem;

//Screen sizes
$screen-small: 600px;
$screen-med: 992px;


